@font-face {
  font-family: "HersheySerifMed-0";
  src: url("../fonts/HersheySans1-1.00-1.00-0.00-elliptical-40-40-0.0.otf");
}

@font-face {
  font-family: "HersheySans-0";
  src: url("../fonts/HersheySans1-1.00-1.00-0.00-elliptical-40-40-0.0.otf");
  /* src: url("../fonts/HersheySans1-1.00-1.00-0.00-calligraphic-60-20-0.0.otf"); */
}


@font-face {
  font-family: "new-beginnings";
  src: url("../fonts/new-beginnings.otf");
}


@font-face {
  font-family: "new-beginnings-bold";
  src: url("../fonts/new-beginnings-bold.otf");
}

:root {
  --font-size: 24px;
  --font-size-large: 30px;
  --font-size-small: 20px;
}

body,
html {
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-family: "new-beginnings";
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex: 0 0;
}

h2 {
  font-weight: initial;
  font-size: inherit;
  font-family: "new-beginnings-bold";
  margin-top: 2rem;
}
p {
  word-wrap: break-word;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}

header > a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.text-menu {
  display: flex;
  justify-content: center;
  margin: 0;
  flex: 0 0;
}
.text-menu > button {
  padding: 1rem;
  border: none;
  background: none;
  flex: 1 0;
  cursor: pointer;
  font: inherit;
}

main {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}
.meta {
  font-size: var(--font-size-small);
}
.round {
  padding: 1rem 2rem;
  font-size: var(--font-size-large);
  max-width: 50ch;
  margin: 0 auto;
}
.round:not(.active) {
  display: none;
}
.round_text :first-child {
  margin-top: 0;
}
.about {
  max-width: 80ch;
  margin: auto;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr 20ch;
  grid-template-rows: min-content 1fr;
  column-gap: 8ch;
}
.about > * :first-child {
  margin-top: 0;
}
aside.author-list {
  grid-row-end: span 2;
}

@media screen and (max-width: 900px) {
  :root {
    --font-size: 20px;
    --font-size-large: 26px;
    --font-size-small: 16px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --font-size: 18px;
    --font-size-large: 24px;
    --font-size-small: 14px;
  }

  header,
  .round,
  .about {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    row-gap: 2rem;
  }

  aside.author-list {
    grid-column-end: auto;
  }
}
