<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./css/interface.css" rel="stylesheet" type="text/css" />
    <link href="./css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  </head>
  <body>
    {% for round in rounds_data %}
    <div class="round">
      <h1 class="round-time">{{round.start_time }} - {{round.end_time}}</h1>
      <div>
        {% for paragraph in round.text%}
        <p>{{paragraph|e}}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <div class="colophon">{{ paratext }}</div>
  </body>
</html>
