<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./css/interface.css" rel="stylesheet" type="text/css" />
    <link href="./css/cover_style.css" rel="stylesheet" />
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  </head>
  <body>
    <div>
      {% for author in authors %}
      <p id="font_{{ author }}">New Beginnings</p>
      {% endfor %}
      <style>
          {% for author in authors %}

                @font-face {
                  font-family: "{{ author}}";
                  src: url("./fonts/author_fonts/{{ author }}.otf");
                }

                #font_{{ author}} {
        font-family: "{{author}}";
                }

          {% endfor %}
      </style>
    </div>
  </body>
</html>
