@font-face {
  font-family: "HersheySans";
  src: url("../fonts/HersheySans1-1.00-1.00-0.00-elliptical-40-40-0.0.otf");
}
body {
  font-family: "HersheySans";
}

@media print {
  @page {
    size: 108mm 175mm;
    margin: 10mm 10mm;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  p {
    font-size: 10pt;
    margin: 0;
  }
}
