@font-face {
  font-family: "HersheySans";
  src: url("../fonts/HersheySans1-1.00-1.00-0.00-elliptical-40-40-0.0.otf");
}
body {
  font-family: "HersheySans";
}

@media print {
  @page {
    size: 108mm 175mm;
    margin: 10mm 10mm;
  }

  @page:left {
    /* style rules for left pages */
    margin-right: 15mm;

    
    @top-left {
      font-size: 80%;
      /* extracts the value from the variable running-header and flows it in the top left margin-box */
      content: string(running-header);
    }
  }

  @page:right {
    /* style rules for right pages */
    margin-left: 15mm;
    text-align: right;

    
    @top-right {
      font-size: 80%;
      /* extracts the value from the variable running-header and flows it in the top left margin-box */
      content: string(running-header);
    }
  }
  h1 {
    margin: 0;
    margin-bottom: 10pt;
    font-weight: initial;
    font-size: 18pt;

    string-set: running-header content(text);
  }
  p {
    margin: 0;
    text-align: left;
    font-size: 14pt;
    line-height: 1.1;
    padding-bottom: 0;
    overflow-wrap: break-word;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    font-size: 12pt;
  }
  .colophon {
    break-after: always;
  }
  .round {
    break-after: always;
  }
  .round-time {
    display: none;
  }
}
