<div class="round" id="round_{{round.round_id}}">
  <p class="meta">{{ round.start_time.strftime('%d-%m %H:%M') }}</p>
  <div class="round_text">
    {% for paragraph in round.text %}
    <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
</div>
<style>
  @font-face {
    font-family: "new-beginnings-font-{{ round.round_id }}";
    src: url("{{ round.font }}");
  }

  .new-beginnings #round_{{ round.round_id }} .round_text {
    font-family: "new-beginnings-font-{{ round.round_id }}";
  }
</style>