<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="font-size: 80px">
      <p>
        {% for letter in word %}<span id="font-{{ loop.index - 1}}"
          >{{letter}}</span
        >{% endfor %}
      </p>
    </div>
    <div class="cover">
      {% for letter in word %}
      <p id="font-{{ loop.index - 1}}">New Beginnings</p>
      {% endfor %}
    </div>

    <style>
      {% for letter in word %}

            @font-face {
              font-family: "1-{{ loop.index - 1}}";
              src: url("static/1-{{ loop.index - 1 }}.otf");
            }

            #font-{{ loop.index - 1}} {
              font-family: "1-{{loop.index - 1}}";
            }
      {% endfor %}
    </style>

    <style>
      .cover {
        display: flex;
        flex-wrap: wrap;
      }
      .cover p {
        font-size: 70px;
        margin: -15px 4px;
      }
    </style>
  </body>
</html>
