<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% for (i, path) in fonts %}
    <section class="part" id="font-{{ i }}">
      {{ lipsum(n=1) }}
      <style>
        @font-face {
          font-family: "font-{{i}}";
          src: url("{{ path }}");
        }

        #font-{{i}} {
          font-family: "font-{{i}}";
        }
      </style>
    </section>
  {% endfor %}
  <style>
    .part {
      font-size: 2.5em;
      margin: auto;
      max-width: 500px;
    }
  </style>
</body>
</html>