{% extends "web/base.html" %}
{% block content %}
<main>
  <div class="about">
    <div>
      {{ lipsum(n=2) }}
    </div>
    <aside class="author-list">
      <h2>Participating Authors</h2>
      <ul>
        <li>Hatice Açıkgöz,</li>
        <li>Duygu Ağal,</li>
        <li>Elisa Aseva,</li>
        <li>Hannes Bajohr,</li>
        <li>Josefine Berkholz,</li>
        <li>Donat Blum,</li>
        <li>Kaśka Bryla,</li>
        <li>Andreas Bülhoff,</li>
        <li>Susi Bumms,</li>
        <li>Dorothee Elmiger,</li>
        <li>Jan Erbelding,</li>
        <li>Daniel Falb,</li>
        <li>Lars Fleischmann,</li>
        <li>Grashina Gabelmann,</li>
        <li>Heike Geißler,</li>
        <li>Berit Glanz,</li>
        <li>Uwe Huth,</li>
        <li>Dagmara Kraus,</li>
        <li>Tim Holland,</li>
        <li>Suse Itzel,</li>
        <li>Mascha Jacobs,</li>
        <li>Stephan Janitzky,</li>
        <li>Thorsten Krämer,</li>
        <li>Dagmara Kraus,</li>
        <li>Anja Kümmel,</li>
        <li>Son Lewandowski,</li>
        <li>Enis Maci,</li>
        <li>Ilija Matusko,</li>
        <li>Nele Müller,</li>
        <li>Biba Oskar Nass,</li>
        <li>Jennifer de Negri,</li>
        <li>Rudi Nuss,</li>
        <li>Hendrik Otremba,</li>
        <li>Kathrin Passig,</li>
        <li>Pascal Richmann,</li>
        <li>Monika Rinck,</li>
        <li>Tanasgol Sabbagh,</li>
        <li>Fabian Saul,</li>
        <li>Simone Scharbert,</li>
        <li>Rike Scheffler,</li>
        <li>Hannah Schraven,</li>
        <li>Eva Tepest,</li>
        <li>Kinga Tóth,</li>
        <li>Senthuran Varatharajah,</li>
        <li>Sinthujan Varatharajah,</li>
        <li>Stefanie de Velasco,</li>
        <li>Maxi Wallenhorst,</li>
        <li>Sarah Claire Wray</li>
      </ul>
    </aside>
    <div>
      <h2>Colophon</h2>
      <p>
        Konzept: Andreas Bülhoff, Jenny Bohn, Brendan Howell nach einem
        Konzept und Programm von Brendan Howell
      </p>
      <p>Design: OSP</p>
      <p>
        NEW BEGINNINGS Schreibperformance | 30.6.-2.7. | Haus Rüschhaus,
        Münster / Digitale Burg
      </p>
      <p>Burg Hülshoff – Center for Literature</p>
      <p>
        *NEW BEGINNINGS (stolen by GIESCHE, who also stole it from someone
        else)
      </p>
      <p>
        NEW BEGINNINGS wird gefördert im Rahmen von »Neustart Kultur« der
        Beauftragten der Bundesregierung für Kultur und Medien durch den
        Deutschen Literaturfonds e.V.
      </p>
    </div>
  </div>
</main>
{% endblock content %}