<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/css/style.css" rel="stylesheet" />
    <script src="static/script.js"></script>
    {% block headerstyles %}{% endblock %}
  </head>
  <body>
    <header>
      <a href="index.html">New Beginnings</a>
      <a href="about.html">About</a>
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
