{% extends "web/base.html" %}

{% block headerstyles %}
  <style>
    {% for round in rounds_data %}
      @font-face {
        font-family: "font-{{ round.round_id }}";
        src: url("{{ round.font }}");
      }

      #round_{{ round.round_id }} .round_text,
      [data-round-id="round_{{ round.round_id }}"]:hover,
      [data-round-id="round_{{ round.round_id }}"].active {
        font-family: "font-{{ round.round_id }}";
      }
    {% endfor %}
  </style>
{% endblock headerstyles %}

{% block content %}
  <main>
    {% for round in rounds_data %}
    <div class="round {% if loop.last %}active{% endif %}" id="round_{{round.round_id}}" data-type="{{ round.rnd_type }}">
      {#
      <div>{{round.author_id}}</div>
      #}
      <p class="meta">{{ round.start_time.strftime('%H:%M %d-%m') }}</p>
      {% if round.rnd_type == 'prompted' %}
        <p class="meta">{{ round.prompt }}</p>
      {% endif %}
      {#
      <div>{{round.rnd_type}}</div>

      #}
      <div class="round_text">
        {% for paragraph in round.text%}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </main>
  <div class="text-menu">
    {% for round in rounds_data %}
    <button
      class="text-menu-button {% if loop.last %}active{% endif %}"
      onclick="toggleRound(event, round_{{round.round_id}})"
      data-round-id="round_{{round.round_id}}"
    >
      {{ round.round_id }}
    </button>
    {% endfor %}
  </div>
{% endblock content %}