<section class="new-beginnings">
  <style>
    @font-face {
      font-family: "new-beginnings";
      src: url("{{ STATIC_URL }}/fonts/new-beginnings.otf");
    }

    .new-beginnings {
      font-family: "new-beginnings" !important;
      --font-size: 30px;
      --font-size-small: 20px;
      --line-height: 36px;
      padding: calc(2 * var(--line-height)) var(--line-height) !important;
    }

    .new-beginnings p {
      margin: 0 0 var(--line-height) 0 !important;
      padding: 0 !important;
      font-size: var(--font-size) !important;
      line-height: var(--line-height) !important;
    }

    .new-beginnings p.meta {
      margin: 0 0 calc(.25 * var(--line-height)) !important;
    }

    .new-beginnings .round {
      margin: var(--line-height) 0 calc(2 * var(--line-height)) 0 !important;
      font-size: var(--font-size) !important;
      max-width: 50ch !important;
    }

    .new-beginnings h1 {
      max-width: 50ch !important;
    }

    .new-beginnings .meta {
      font-size: var(--font-size-small) !important;
    }

    @font-face {
      font-family: "new-beginnings-header-font";
      src: url("{{ author.header_font }}");
      font-weight: bold;
    }

    h1 {
      font-size: var(--font-size) !important;
      font-weight: bold !important;
      font-family: "new-beginnings-header-font" !important;
      margin: 0 0 calc(2 * var(--line-height)) 0 !important;
      padding: 0 !important;
    }
  </style>
  {% if author %}
    {% if rounds.compose_title %}
      <p class="meta">{{ rounds.compose_title.0.start_time.strftime('%d-%m %H:%M') }}</p>
      {% for paragraph in rounds.compose_title.0.text %}
        <h1>{{ paragraph }}</h1>
      {% endfor %}
    {% endif %}
    {% if rounds.prompted %}
      {% for round in rounds.prompted %}
        {% include "web/snippets/round.html" %}
      {% endfor %}
    {% endif %}
    {% if rounds.plain %}
      {% for round in rounds.plain %}
        {% include "web/snippets/round.html" %}
      {% endfor %}
    {% endif %}
    {% if rounds.edit_markov %}
      {% for round in rounds.edit_markov %}
        {% include "web/snippets/round.html" %}
      {% endfor %}
    {% endif %}
  {% else %}
    <div class="round">
      <p>New beginnings</p>
    </div>
  {% endif %}
</section>