@font-face {
  font-family: "HersheySans";
  src: url("../../fonts/HersheySans1-1.00-1.00-0.00-elliptical-40-40-0.0.otf");
}


@font-face {
  font-family: "new-beginnings";
  src: url("../../fonts/new-beginnings.otf");
}

@font-face {
  font-family: "new-beginnings-bold";
  src: url("../../fonts/new-beginnings-bold.otf");
}

:root {
  --font-size-spine: 16px;  --font-size-paratext: 12px;
  --font-size: 14.5px;
  --font-size-large: 18px;
  --font-size-small: 10px;
  --line-height: 18px;
  --spine: 0mm;
  --bleed: 3.17mm;
  --pHeight: calc(2 * 3.17mm + 203mm);
  --pWidth: calc(2 * 3.17mm + 127mm);
}

body,
html {
  font-family: "HersheySans";
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: -0.1px;
  margin: 0;
  padding: 0;
}

@media print {
  @page {
    margin: 0;
    size: 260.35mm 209.55mm;
  }
  .page-input {
    display: none;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen {
  .cover {
    width: min-content;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .page-input {
    margin: 2rem;
  }
}

h1 {
  margin: 0 0 var(--line-height) 0;
  font-weight: initial;
  font-size: var(--font-size-large);
  line-height: calc(2 * var(--line-height));
}
p {
  margin: 0;
  /* margin-bottom: var(--line-height); */
  text-align: left;
  overflow-wrap: break-word;
}
.cover {
  display: flex;
  overflow: hidden;
}
.back {
  width: 130.175mm;
  height: 209.55mm;
  padding: 17mm 10mm 17mm 17mm;
  box-sizing: border-box;
  overflow: hidden;
  font-size: var(--font-size);
  columns: 2;
  column-fill: auto;
}
.back > ul > li {
  list-style: none;
  margin: 0 1mm;
}

.spine {
  width: var(--spine);
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 17mm 0;
  font-family: "new-beginnings-bold";
  font-size: var(--font-size-spine);
  letter-spacing: .25px;
}
.spine > * {
  font-family: "new-beginnings-bold";
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
.spine p {
  position: relative;
  right: -2px;
}

.front {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font-size);
  width: 130.175mm;
  height: 209.55mm;
  overflow: hidden;
  padding: 17mm 17mm 17mm 10mm;
  box-sizing: border-box;
}
.front p {
  margin: 0 0 calc(.25 * var(--line-height)) 0;
  padding: 0 0.5mm;
}

.back p {
  margin: 0 0 calc(.25 * var(--line-height)) 0;
}