@font-face {
  font-family: "HersheySans";
  src: url("../../fonts/HersheySans1-1.00-1.00-0.00-elliptical-40-40-0.0.otf");
}

@font-face {
  font-family: "new-beginnings";
  src: url("../../fonts/new-beginnings.otf");
}

@font-face {
  font-family: "new-beginnings-bold";
  src: url("../../fonts/new-beginnings-bold.otf");
}

:root {
  --font-size-paratext: 12px;
  --font-size: 14.5px;
  --font-size-large: 18px;
  --font-size-small: 10px;
  --line-height: 18px;
}
body,
html {
  font-family: "new-beginnings";
  font-size: var(--font-size);
  line-height: var(--line-height);
}

@media print {
  @page {
    size: 127mm 203mm;
    margin: 15mm;
    bleed: 3.125mm;
  }

  @page:left {
    /* style rules for left pages */
    margin-right: 20mm;

    @top-left {
      font-size: 80%;
      /* extracts the value from the variable running-header and flows it in the top left margin-box */
      content: string(running-header);
    }

    @bottom-left {
      font-size: var(--font-size-small);
      font-family: "new-beginnings";
      content: counter(page);
    }
  }

  @page:right {
    /* style rules for right pages */
    margin-left: 20mm;

    @top-right {
      font-size: 80%;
      /* extracts the value from the variable running-header and flows it in the top left margin-box */
      content: string(running-header);
    }

    @bottom-right {
      font-size: var(--font-size-small);
      font-family: "new-beginnings";
      content: counter(page);
    }
  }

  @page:blank {
    @bottom-right {
      content: "";
    }

    @bottom-left {
      content: "";
    }
  }

  @page cover {
    @bottom-right {
      content: "";
    }

    @bottom-left {
      content: "";
    }
  }

  @page colophon {
    @bottom-right {
      content: "";
    }

    @bottom-left {
      content: "";
    }
  }

  h1 {
    margin: 0 0 var(--line-height) 0;
    font-weight: initial;
    font-size: var(--font-size-paratext);
    line-height: var(--line-height);
    font-family: "new-beginnings-bold";
  }
  h2 {
    font-weight: bold;
    font-size: var(--font-size);
    margin-top: 0 0 var(--line-height);
  }
  p {
    font-size: var(--font-size);
    text-align: left;
    overflow-wrap: break-word;
    margin: 0 0 var(--line-height);
  }
  img {
    max-height: calc(4 * var(--font-size-paratext));
    max-width: 32%;
  }
  .sponsor-logo-container {
   height: calc(4 * var(--font-size-paratext));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5mm;
    margin: 0 0 var(--line-height);
  }
  .image-full {
    max-width: 100%;
    max-height: 100%;
  }
  .flowchart-l {
    max-width: 127mm;
    max-height: 203mm;
    margin: -15mm -20mm -15mm -15mm
  }
  .flowchart-r {
    max-width: 127mm;
    max-height: 203mm;
    margin: -15mm -15mm -15mm -20mm    
  }
  .meta {
    font-family: "new-beginnings-bold";
    font-size: var(--font-size-small);
    line-height: var(--line-height);
    margin-bottom: 0;
  }

  .meta + div {
    margin-top: var(--line-height);
  }

  .round {
    margin-bottom: var(--line-height);
  }

  ul, ol {
    padding: 0;
    margin: var(--line-height) 0;
  }
  ul li {
    /* list-style:
     none; */
  }

  ol li::marker {
    content: attr(data-item-num) '  ';
    font-size: 90%;
  }
  ul li::marker {
    content: '—  ';
  }
  .chapter {
    page-break-before: right;
  }
  .colophon {
    break-after: always;
  }
  .authors ul {
    column-count: 2;
    column-fill: auto;
  }
  [data-type="cover"] {
    font-size: var(--font-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    page: cover;
  }
  [data-type="paratext"],
  [data-type="paratext"] p,
  [data-type="colophon"],
  [data-type="colophon"] p {
    font-size: var(--font-size-paratext);
  }

  [data-type="colophon"] {
    page: colophon;
    page-break-before: always;
  }

  [data-type="back-cover"] {
    columns: 2;
    column-fill: auto;
    font-size: var(--font-size);
    page-break-before: left;
    page: cover;
  }

  [data-type="back-cover"] p {
    margin: 0 0 calc(.25 * var(--line-height)) 0;
  }

  [data-type="cover"] p {
    padding: 0 0.5mm;
    margin: 0 0 calc(.25 * var(--line-height)) 0;
  }

  .break-after {
    page-break-after: always;
  }

  .flowchart-caption {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
}

.pagedjs_page[id="page-13"] {
  counter-increment: page 311;
}