<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{{ STATIC_URL }}/css/book/interface.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{{ STATIC_URL }}/css/book/style.css" rel="stylesheet" />
    <!-- <script>
      window.PagedConfig = {
            auto: false, // Avoid paged.js from diectly running
      };


      // window.setTimeout(function () {
      //    window.PagedPolyfill.preview();
      // }, 15000)

      window.addEventListener(function () {
         window.PagedPolyfill.preview();
      }, 15000)
    </script> -->
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
    <style>
      {% for author in authors %}
        @font-face {
          font-family: "{{ author.author_id }}";
          src: url("{{ author.font }}");
        }

        [id="font_{{ author.author_id }}"] {
          font-family: "{{ author.author_id }}", "new-beginnings";
        }

        @font-face {
          font-family: "{{ author.author_id }}--header";
          src: url("{{ author.header_font }}"), "new-beginnings";
          font-weight: bold;
        }

        h2[data-author="{{ author.author_id }}"] {
          font-family: "{{ author.author_id }}--header", "new-beginnings";
        }
      {% endfor %}
      {% for chapter in chapters %}
        {% if chapter.body_chunks %}
          {% for round in chapter.body_chunks %}
            {% if round %}
              @font-face {
                font-family: "font-{{ round.round_id }}";
                src: url("{{ round.font }}");
              }

              [data-round-id="{{ round.round_id }}"] {
                font-family: "font-{{ round.round_id }}", "new-beginnings";
              }
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% for round in prompts %}
        {% if round %}
          @font-face {
            font-family: "font-{{ round.round_id }}";
            src: url("{{ round.font }}");
          }

          [data-round-id="{{ round.round_id }}"] {
            font-family: "font-{{ round.round_id }}", "new-beginnings";
          }
        {% endif %}
      {% endfor %}
    </style>
  </head>
  <body>
    <div class="chapter cover" data-type="cover">
      {% for author in authors %}
        <p id="font_{{ author.author_id }}">New Beginnings</p>
      {% endfor %}
    </div>
    <div class="chapter innercover" data-type="cover">
      <h1>New Beginnings</h1>
    </div>
    {% for chapter in chapters %}
    <div class="chapter" data-type="round">
      {% if chapter.title %} 
        {% for line in chapter.title.text %}
          <h2 data-author="{{ chapter.title.author_id }}">{{ line }}</h2>
        {% endfor %}
      {% endif %} 
      {% if chapter.body_chunks %} 
        {% for round in chapter.body_chunks %} 
          {% if round %}
            <div class="round" data-round-id="{{round.round_id}}">
              {% for paragraph in round.text%}
                <p>{{ paragraph }}</p>
              {% endfor %}
            </div>
          {% endif %} 
        {% endfor %} 
      {% endif %}
    </div>
    {% endfor %}
    <div class="chapter appendix" data-type="round">
      <h1>Appendix</h1>
      {% for round in prompts %} 
        {% if round %}
          <div class="round" data-round-id="{{round.round_id}}">
            {% for paragraph in round.text%}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
        {% endif %} 
      {% endfor %}
    </div>
    <div class="chapter nachwort" data-type="paratext">
      {{ paratexts.nachwort|safe }}
    </div>
    <div class="chapter colophon" data-type="colophon">
      {{ paratexts.colophon|safe }}
    </div>
    <div class="chapter colophon" data-type="colophon">
      {{ paratexts.changelog|safe }}
    </div>
    <div class="chapter cover" data-type="back-cover">
      <!-- {% for author in authors %}
        <p id="font_{{ author.author_id }}">{{ author.author_name }}</p>
      {% endfor %} -->
      {{ paratexts.authors|safe }}
    </div>
  </body>
</html>
