<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ STATIC_URL }}/css/book/cover_style.css" rel="stylesheet" />
  <style>
      {% for author in authors %}
        @font-face {
          font-family: "{{ author.author_id }}";
          src: url("{{ author.font }}");
        }

        [id="font_{{ author.author_id }}"] {
          font-family: "{{ author.author_id }}";
        }
      {% endfor %}
    </style>
  </head>
  <body>
    <style id="dynamicStyle">
      :root {
        --spine: 0mm;
      }
      @media print {
        @page {
          size: 254mm 203mm;
        }
      }
    </style>
    <div class="page-input">
      <p>
        This is a tool to generate the cover for your version of the New
        Beginnings book, with the intention of the book being printed at lulu
        books
      </p>
      <p>
        Please input the amount of pages your pdf for the book contains in the
        field down below. Then simply print this page from your browser.
      </p>
      <input type="number" id="page_amount" min="0" value="100" />
    </div>

    <div class="cover">
      <div class="back">
        <!-- {% for author in authors %}
          <p id="font_{{ author.author_id }}">{{ author.author_name }}</p>
        {% endfor %} -->
        {{ paratexts.authors|safe }}
      </div>
      <div class="spine">
        <p>New Beginnings</p>
      </div>
      <div class="front">
        {% for author in authors %}
          <p id="font_{{ author.author_id }}">New Beginnings</p>
        {% endfor %}
      </div>
    </div>
  </body>
  <script>
    const page_input = document.querySelector("#page_amount");
    const dynamicStyle = document.querySelector("#dynamicStyle");

    let state = {
      pages: page_input.value,
      bleed: 3.17,
    };

    page_input.addEventListener("input", () => {
      state = { ...state, pages: page_input.value };
      updateCoverSize();
    });

    const calculateSpine = (pageNumbers) => {
      return pageNumbers / 17.48 + 1.524;
    };

    const updateCoverSize = () => {
      console.log("pages", state.pages);
      dynamicStyle.innerHTML = `
      :root {
      --spine: ${calculateSpine(state.pages)}mm;
      }
      @media print {
        @page {
      size: ${260.35 + calculateSpine(state.pages)}mm 209.55mm;
        }
      }
      `;
    };

    updateCoverSize();
  </script>
</html>
